<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"  media="screen,projection"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="blue-grey lighten-4">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            setInterval(function(){
                window.open("/getProfileAndMessages?user={{other_user.username}}","_self");
            }, 30000);
        });
    </script>
    
    <script>
    // Run on page load
    window.onload = function() {

        // If sessionStorage is storing default values (ex. name), exit the function and do not restore data
        if (sessionStorage.getItem('name') == "name") {
            return;
        }

        // If values are not blank, restore them to the fields
        var name = sessionStorage.getItem('name');
        if (name !== null) $('#inputName').val(name);

        var email = sessionStorage.getItem('email');
        if (email !== null) $('#inputEmail').val(email);

        var subject= sessionStorage.getItem('subject');
        if (subject!== null) $('#inputSubject').val(subject);

        var message= sessionStorage.getItem('message');
        if (message!== null) $('#inputMessage').val(message);
    }

    // Before refreshing the page, save the form data to sessionStorage
    window.onbeforeunload = function() {
        sessionStorage.setItem("name", $('#inputName').val());
        sessionStorage.setItem("email", $('#inputEmail').val());
        sessionStorage.setItem("subject", $('#inputSubject').val());
        sessionStorage.setItem("message", $('#inputMessage').val());
    }
</script>

    <div class=" ">
        <div class="row">
            <div class="col s3">
                <div class="card blue-grey darken-2">
                    <div class="card-content white-text">
                        <span class="card-title">Appl.py</span>
                    </div>
                </div>
                <div class="card blue-grey darken-2">
                    <div class="card-content ">
                        <span class="card-title activator white-text text-darken-4">{{local_user.fullname}}<i class="material-icons right">edit</i></span>
                        <div class="card-content">
                            <img src="{{local_user.image}}" alt="" class="circle responsive-img">
                        </div>
                        <div class="card-content white-text">
                            <p>{{local_user.username}}</p>
                            <h5>{{local_user.position}}</h5>
                            <h5>{{local_user.location}}</h5>
                            <p>{{local_user.description}}</p>
                        </div>
                        <div class="card-action">
                            <span><a href="/signout?username={{local_user.username}}">LOG OFF</a></span>
                            <span><a href="/closeServer?username={{local_user.username}}">CLOSE SERVER</a></span>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <form action="/updateProfile" method="post" enctype="multipart/form-data">
                            <button id="update-profile-hide-style" type="submit" value="Update">
                                <span class="card-title grey-text text-darken-4">EDIT PROFILE<i class="material-icons right">close</i></span>
                            </button>
                            <div class="card-content black-text">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="{{local_user.image}}" name="picture" type="text" class="validate responsive-img">
                                        <label for="picture">Picture</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input placeholder="{{local_user.fullname}}" name="fullname" type="text" class="validate">
                                        <label for="first_name">Full Name</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input placeholder="{{local_user.position}}" name="position" type="text" class="validate">
                                        <label for="first_name">Position</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <input placeholder="{{local_user.location}}" name="location" type="text" class="validate">
                                        <label for="first_name">Location</label>
                                    </div>
                                    <div class="input-field col s12">
                                        <textarea id="textarea1" placeholder="{{local_user.description}}" name="description"class="materialize-textarea"></textarea>
                                        <label for="textarea1">Description</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card white darken-2 z-depth-3">
                    <div class="card-content black-text">
                        <p class="black-text">{{notification}}</p>
                    </div>
                </div>
                <div class="card white darken-2 z-depth-3">
                    <div class="card-content white-text">
                        <form action="/send" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="input-field col s12 black-text">
                                    <i class="material-icons prefix">person_pin</i>
                                    <input id="icon_prefix" type="text" class="validate" name="destination" value="{{other_user.username}}">
                                    <label for="icon_prefix">To</label>
                                </div>
                                <div class="input-field col s12 black-text">
                                    <textarea id="icon_prefix2" class="materialize-textarea" name="message" data-length="140"></textarea>
                                    <label for="icon_prefix2">Message</label>
                                </div>
                            </div>
                            <div class="card-action">
                                <div class = "row">
                                    <div class="file-field input-field col s9">
                                        <div class="btn">
                                            <span>ATTACH FILE</span>
                                            <input type="file" name="file_send">
                                        </div>
                                        <div class="file-path-wrapper black-text">
                                            <input class="file-path validate" type="text">
                                        </div>
                                    </div>
                                    <button class="btn-large waves-effect waves-light col s3" style = "margin-top: 1em" type="submit" value="Send">SEND
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    {% if messages is not none %}
                    {% for n in messages %}
                    {% if n['sender'] != local_user.username %}
                    <div class="card blue-grey col s9">
                        <div class="card-content white-text">
                            <p>{{n['sender']}}</p>
                            <p>{{n['message']}}</p>
                            <p class="right">{{n['stamp']|datetimeformat}}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if n['sender'] == local_user.username %}
                    <div class="card white col offset-s3 s9">
                        <div class="card-content black-text">

                            <p>{{n['sender']}}</p>
                            <p>{{n['message']}}</p>
                            <p class="right">{{n['stamp']|datetimeformat}}</p>

                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col s3">
                <div class="card blue-grey darken-2">
                    <div class="card-content ">
                        <span class="card-title activator white-text text-darken-4">{{other_user.fullname}}</span>
                        <div class="card-content">
                            <img src="{{other_user.image}}" alt="" class="circle responsive-img" id="other-image">
                        </div>
                        <div class="card-content white-text">
                            <p>{{other_user.username}}</p>
                            <p>{{other_user.position}}</p>
                            <p>{{other_user.location}}</p>
                            <p>{{other_user.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title">Users Online</span>
                        <div class="row">
                            <div class="input-field col s12">
                                <form action="/updateStatus" method="post" enctype="multipart/form-data">
                                    <select name="status" class="browser-default" onchange="this.form.submit()">
                                        <option value="" disabled selected>{{status}}</option>
                                        <option name="status" type="text" value="Online">Online</option>
                                        <option name="status" type="text" value="Idle">Idle</option>
                                        <option name="status" type="text" value="Away">Away</option>
                                        <option name="status" type="text" value="Do Not Disturb">Do Not Disturb</option>
                                        <option name="status" type="text" value="Offline">Offline</option>
                                    </select>
                                </form>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a href="#test1"><i class="material-icons green-text">brightness_1</i></a></li>
                            <li class="tab"><a href="#test2"><i class="material-icons yellow-text">brightness_1</i></a></li>
                            <li class="tab"><a href="#test3"><i class="material-icons orange-text">brightness_1</i></a></li>
                            <li class="tab"><a href="#test4"><i class="material-icons red-text">brightness_1</i></a></li>
                            <li class="tab"><a href="#test5"><i class="material-icons grey-text">brightness_1</i></a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="test1">
                            <table class="highlight responsive-table">
                                <thead>
                                    <tr id="tester">
                                        <th>User</th>
<!--                                        <th>Status</th>-->
                                        <th>Address</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k in userlist%}
                                    {% if k['status'] == "Online" %}
                                    <tr id="online">

                                        <td class=""><a href="/getProfileAndMessages?user={{k['username']}}">{{k['username']}}</a></td>
<!--                                        <td class="">{{k['status']}}</td>-->
                                        <td class="">{{k['ip']}}:{{k['port']}}</td>
                                        <td class="">{{k['location']}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="test2">
                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>User</th>
<!--                                        <th>Status</th>-->
                                        <th>Address</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k in userlist%}
                                    {% if k['status'] == "Idle" %}
                                    <tr>
                                        <td class=""><a href="/getProfileAndMessages?user={{k['username']}}">{{k['username']}}</a></td>
<!--                                        <td class="">{{k['status']}}</td>-->
                                        <td class="">{{k['ip']}}:{{k['port']}}</td>
                                        <td class="">{{k['location']}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="test3">
                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>User</th>
<!--                                        <th>Status</th>-->
                                        <th>Address</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k in userlist%}
                                    {% if k['status'] == "Away" %}
                                    <tr>
                                        <td class=""><a href="/getProfileAndMessages?user={{k['username']}}">{{k['username']}}</a>
<!--                                        <td class="">{{k['status']}}</td>-->
                                        <td class="">{{k['ip']}}:{{k['port']}}</td>
                                        <td class="">{{k['location']}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="test4">
                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>User</th>
<!--                                        <th>Status</th>-->
                                        <th>Address</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k in userlist%}
                                    {% if k['status'] == "Do Not Disturb" %}
                                    <tr>
                                        <td class=""><a href="/getProfileAndMessages?user={{k['username']}}">{{k['username']}}</a>
<!--                                        <td class="">{{k['status']}}</td>-->
                                        <td class="">{{k['ip']}}:{{k['port']}}</td>
                                        <td class="">{{k['location']}}</td>

                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div id="test5">
                            <table class="highlight">
                                <thead>
                                    <tr>
                                        <th>User</th>
<!--                                        <th>Status</th>-->
                                        <th>Address</th>
                                        <th>Location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k in userlist%}
                                    {% if k['status'] == "Offline" %}
                                    <tr>
                                        <td class=""><a href="/getProfileAndMessages?user={{k['username']}}">{{k['username']}}</a>
<!--                                        <td class="">{{k['status']}}</td>-->
                                        <td class="">{{k['ip']}}:{{k['port']}}</td>
                                        <td class="">{{k['location']}}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>