<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body class="blue-grey lighten-4">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <div class="row">
        <div class="col s4 offset-s4">
            <div class="card">
                <div class="card-image">
                    <img src="http://assets.kraftfoods.com/recipe_images/opendeploy/84513-c58a7b2b99d02ed7772f9529cbcd193e254e29b9_642x428.jpg">
                    <span class="card-title">Appl.py</span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <form action="/signin" method="post" enctype="multipart/form-data">
                            <div class="input-field col s12">
                                <input id="form_username" name="form_username" type="text" class="validate">
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="form_password" name="form_password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <div class="col s8">
                                <p class="left">{{notification}}</p>
                            </div>
                            <div class="col s4">
                                <button class="btn-large waves-effect waves-light offset-s5" type="submit" value="Login">Log in
                                    <i class="material-icons right">vpn_key</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>                    
            </div>
        </div>
    </div>
</body>